/* add your own styles here */
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #b3d6d2;
}
#intro-title {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 40px;
}
.texthighlight {
    color: #e4dcc6;
}
.texthighlightdark {
    color: #407d5a;
}
.textcolorwhite {
    color:white;
}
#intro-subtitle {
    margin-top: 20px;
    margin-bottom: 0px;
}
header {
    background-color:blanchedalmond;
}
#splash-body {
    background-color: #573023;
    width: 100vw;
    height: 100vh;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#intro-text {
    margin-bottom: 350px;
}
.jua {
    font-family: 'Jua', sans-serif;
}
.lightbrown {
    color: #A7683A;
}
.icon {
    font-size: 15vw;
}
.bg-logo {
    background-color: #4d2619;
    border-radius: 50px;
    padding: 25px;
}
.circle {
    background-color: #A7683A;
    color: #A7683A;
    border-radius: 50px;
    width: 8vw;
    height: 8vw;
}
#loading-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;

}
#main-body {
    /* display: none; */

    width: 100vw;
    height: 100vh;
    color: white;
}
.gill {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
}
.item {
    display: block;
    /* width:30vw; */
    background-color:black;

    margin-top: 10px;
}
.height-small {
    height: 5vh;
}
.height-large {
    height: 20vh;
}
.button {
    background-color: #4d2619;
    height: 7vh;
    width: 20vh;
    border-radius: 50px;
    margin-top: 50px;
}
.column {
    flex-direction:column;
    margin-left: auto;
    height: 100vh;
    width: fit-content;
    border-radius: 25px;
    position: absolute;
    display: none;
    
}
#intro {
    padding: 10px;
}
.textalign {
    text-align: center;
}
.selection-group {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color:#e1e1e1
}
.input {
    background-color:red;
}


.item1 {background-color:#b1b0b0}





#circle1 {background-color: #A7683A; color: #A7683A;filter: opacity(0.1);}
#circle2 {background-color: #A7683A; color: #A7683A;filter: opacity(0.1);}
#circle3 {background-color: #A7683A; color: #A7683A;filter: opacity(0.1);}
#circle4 {background-color: #A7683A; color: #A7683A;filter: opacity(0.1);}
#circle5 {background-color: #A7683A; color: #A7683A;filter: opacity(0.1);}
