/* add your own styles here */
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
    max-height: 100%;
    /* overflow: hidden; */
    background-color: var(--lightblue);
    font-family: var(--mainfont);
}

:root {
    --white: white;
    --lightblue: #b3d6d2;
    --textwhite: white;
    --textbrown: ;
    --mainbrown: #4d2619;
    --mainfont: 'Jua', sans-serif;
    --coral: rgb(192, 101, 68);
    --lightbrown: #A7683A;
}

#intro-title {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.texthighlight {
    color: #e4dcc6;
}

.texthighlightdark {
    color: #407d5a;
}

.textcolorwhite {
    color: var(--textwhite);
}

#intro-subtitle {
    margin-top: 20px;
    margin-bottom: 0px;
}

#splash-body {
    background-color: #573023;
    width: 100vw;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#intro-text {
    margin-bottom: 350px;
}

.jua {
    font-family: 'Jua', sans-serif;
}

.lightbrown {
    color: #A7683A;
}

.icon {
    font-size: 15vw;
}

.bg-logo {
    background-color: #4d2619;
    border-radius: 50px;
    padding: 25px;
}

.circle {
    background-color: #A7683A;
    color: #A7683A;
    border-radius: 50px;
    width: 8vw;
    height: 8vw;
}

#loading-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;

}
#petStats {
    width: 100vw;
    height: 100vmin;
    /* margin-top: 50px; */
    padding: 20px;
}
#petStatsOther {
    margin-top: 50px;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    border-radius: 25px;
}
.petInformation {
    /* font-size: 3vh; */
    margin-top: 0px;
    margin-bottom: 0px;
    height:fit-content;
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width:fit-content;
    font-size:4vw;
    color:rgb(207, 207, 207);
}
#newPetMenu {
    display: none;
}

.specialbuttonwrapper {
    display: flex;
    width: 100%;
    height: 50%;
}
.specialbutton {

}
#main-view {
    margin-left: auto;
    margin-right: auto;
    background-color: #4d2619;
    width: 100%;
    height: 100vh;
}

button {
    background-color: var(--lightblue);
    border-radius: 25px;
    color: rgb(37, 37, 37);
    padding: 10px;
    font-family: var(--mainfont);
    /* font-size: large; */
    font-weight: bold;
}

#buttons {
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 15px;
    /* background-color: #181818; */
    display: flex;
    height: 10vh;
    bottom: 0px;
    position: absolute;

}

#secondaryScreen {
    background-color: var(--mainbrown);
    height: 80vmin;
    width: 100%;
}

#screen {
    width: 100%;
    height: 50%;
    background-color: var(--lightblue);
}

body {
    margin: 0px;
}

#main-body {
    /* display: none; */

    width: 100vw;
    height: 100vh;
    color: var(--textwhite);
}

.gill {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.item {
    display: block;
    /* width:30vw; */
    /* background-color: black; */

    margin-top: 10px;
}

.height-small {
    height: 5vh;
}

.height-large {
    height: 20vh;
}



.button {
    background-color: #4d2619;
    height: 7vh;

    border-radius: 50px;
    margin-top: 50px;
}

.column {
    padding: 5px;
    flex-direction: column;
    /* margin-left: auto; */
    /* height: 100vh; */
    width: 100%;
    border-radius: 25px;
    /* position: absolute; */

}

.overlay {
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    filter: brightness(.5);

}

#stopTimer {
    display: none;
}

#intro {
    padding: 10px;
}

.textalign {
    text-align: center;
}

.selection-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 25px;
    background-color: var(--coral);
    overflow-x: auto;
}

#petPanelButtons {
    padding-top: 10px;
}

#selectors {
    display: none;
}

.input {
    background-color: red;
}


.item1 {
    background-color: var(--mainbrown);
    color: var(--lightbrown);
    font-size: larger;
}




.timer {
    background-color: black;
    color: rgb(0, 255, 0);
}
.darkbackground {
    filter: brightness(.9);
    filter: opacity(.8);
    background-color:#7b9491;
} 
.question {
    margin-bottom: 0px;
    text-align: left;
    padding-left: 10px;
    color: var(--textwhite);
}

.h1 {
    font-size: 15vh;
}

.h2 {
    font-size: 5vh;
}

.h3 {
    font-size: 2vh;
}

.h4 {
    font-size: 1vh;
}

#circle1 {
    background-color: #A7683A;
    color: #A7683A;
    filter: opacity(0.1);
}

#circle2 {
    background-color: #A7683A;
    color: #A7683A;
    filter: opacity(0.1);
}

#circle3 {
    background-color: #A7683A;
    color: #A7683A;
    filter: opacity(0.1);
}

#circle4 {
    background-color: #A7683A;
    color: #A7683A;
    filter: opacity(0.1);
}

#circle5 {
    background-color: #A7683A;
    color: #A7683A;
    filter: opacity(0.1);
}